<html>
  <body>
    <h2>Halo {{name}}</h2>
    <p>Terima kasih sudah registrasi dengan email: <b>{{email}}</b></p>

    <p>Silakan verifikasi email dan set password kamu lewat link ini:</p>

    <a href="{{verifyUrl}}">Verifikasi & Set Password</a>

    <p><b>Link hanya berlaku 1 jam dan hanya bisa dipakai 1 kali.</b></p>
  </body>
</html>
