<html>
  <body>
    <h2>Reset Password</h2>
    <p>Klik link ini untuk reset password:</p>
    <a href="{{resetUrl}}">Reset Password</a>
    <p><b>Link hanya bisa dipakai 1 kali.</b></p>
  </body>
</html>
