<html>
  <body>
    <h2>Verifikasi Email Baru</h2>
    <p>Kamu request update email menjadi: <b>{{email}}</b></p>
    <p>Verifikasi lewat link berikut:</p>
    <a href="{{verifyUrl}}">Verifikasi Email</a>
    <p><b>Link hanya berlaku 1 jam dan hanya bisa dipakai 1 kali.</b></p>
  </body>
</html>
